// Site header

$header-height: 50px;
$header-padding: 10px;
$logo-padding: 5px;
$admin-bar-height: 32px;

.site-header {
	// padding: 1em;

	// bump the header down to account for the fixed-position menu bar.
	margin-top: $header-height !important;
	.admin-bar & {
		margin-top: #{$header-height + $admin-bar-height} !important;
	}

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// min-height: 50vh;

		.site-branding-container {
			margin-bottom: auto;
			// background: transparent;
		}
	}

	@include media(tablet) {
		margin: 0;
		// padding: 0 0 1rem 0;

		&.featured-image {
			min-height: 40vh;
			margin-bottom: 3rem;
		}
	}
}

.site-branding-container {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index: 999;
	height: $header-height;

	.admin-bar & {
		top: $admin-bar-height;
	}

	background: $color__menu-background;
	padding: $header-padding 0;
}


// Site branding

.site-branding {

	color: $color__text-light;
	position: relative;
	display: flex;
	justify-content: space-between;

	@include media(tablet) {
		margin: 0 $size__site-margins;
	}
}

// Site logo

.site-logo {

	position: relative;
	z-index: 999;
	margin-bottom: calc(.66 * #{$size__spacing-unit});

	@include media(tablet) {
		margin-bottom: 0;
		position: absolute;
		right: calc(100% + (1.25 * #{$size__spacing-unit}));
		top: 4px; // Accounts for box-shadow widths
		z-index: 999;
	}

	.custom-logo-link {
		border-radius: 100%;
		box-sizing: content-box;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		display: block;
		width: 50px;
		height: 50px;
		overflow: hidden;
		transition: box-shadow $background_transition ease-in-out;

		.custom-logo {
			min-height: inherit;
		}

		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
		}

		@include media(tablet) {
			width: 64px;
			height: 64px;
		}
	}
}

// Site title

.site-title {
	$title-margin-adjust: $logo-padding - $header-padding;
	margin: $title-margin-adjust 10px;
	display: inline;
	color: $color__menu;

	a {
		color: $color__menu;

		&:link,
		&:visited {
			color: $color__menu;
		}

		&:hover {
			opacity: $opacity__menu-hover;
		}
	}

	img {
		height: $header-height + ( $title-margin-adjust * 2 );
	}

	.featured-image & {
		// margin: 0;

		@include media(tablet) {
			display: inline-block;
		}
	}

	@include media(tablet) {
		display: inline;
	}

	&:not(:empty) + .site-description:not(:empty):before {
		content: "\2014";
		margin: 0 .2em;
	}
}

// Site description

.site-description {

	display: inline;
	color: $color__text-light;
	font-weight: normal;
	margin: 0;
}
