/** === Footer menu === */

.footer-navigation {

	// display: inline;

	// & > div {
	// 	display: inline;
	// }

	ul {
		list-style: none;
		padding-left: 0;

		li {
			padding-left: 0;
		}
	}

	.footer-menu {

		// display: inline;
		display: flex;
		flex-flow: column;
		padding-left: 0;

		@include media(tablet) {
			// on non-phones...
			flex-flow: row;
		}

		// Root-level li elements that behave like columns
		> li.menu-item {
			flex: 1 1 0;
			display: flex;
			flex-flow: column nowrap;


			// The header at the start of each column
			> a {
				margin-top: 1rem;
				margin-bottom: 0.2rem;
				display: block;
				font-size: $font__size-md;
				font-weight: bold;

				@include media(tablet) {
					// on non-phones...
					margin-top: 0rem;
					margin-bottom: 1rem;
				}
			}

			// Columns after the first column
			+ li.menu-item {
				padding-top: 15px;

				@include media(tablet) {
					padding-top: 0;
				}
			}

			.sub-menu {

				// An individual link within a column
				li.menu-item {
					// display: inline;
					margin-right: 1rem;
					line-height: 1rem;

					// Individual links after the first one in that link's column
					+ li.menu-item {
						padding-top: 10px;
					}
				}
			}
		}


		img {
			max-height: 160px;
			object-fit: scale-down;
		}

		.social-links {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;

			a {
				background: #6ec1e4;
				border-radius: .35rem;
				font-size: 1.5rem;
				color: #fff;
				display: inline-block;
				text-align: center;
				line-height: 1;
			}

			i {
				padding: .35rem;
				width: 1.4em;
			}
		}
	}
}
